<p>
  <mat-tab-group style="width: 100%" (selectedTabChange)="onLinkClick($event)">
    <mat-tab label="חיפוש בקשה" ></mat-tab>
    <mat-tab label="בקשה חדשה" style="color:yellow" ></mat-tab>
    <mat-tab label="רשימת החברותות" style="color:mediumvioletred"></mat-tab>
    <mat-tab label="לוח זמנים שבועי" style="color:orangered" ></mat-tab>
    <mat-tab label="עריכת פרטים אישיים" style="color:steelblue"></mat-tab>
    <mat-tab label="אודות האתר" style="color:blue"></mat-tab>
  </mat-tab-group>
</p>
