  <!-- <input type="button" value="כניסה"  (click)="Login()">
  <div class="example-container row">
    <mat-form-field>
      <input matInput [(ngModel)]="mail" placeholder="mail"/>
    </mat-form-field>
  </div>

  <div class="example-container row">
    <mat-form-field>
      <input matInput [(ngModel)]="pass" placeholder="pass"/>
    </mat-form-field>
  </div>
  <input type="button" value="שכחתי סיסמא" (click)="ForgotPass()"/> -->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <div class="login-wrap" [hidden]="hideForm">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">Forgot Password</label>

		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Email</label>
          <input id="user" [(ngModel)]="mail" type="email" required="required" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" [(ngModel)]="pass" class="input" required data-type="password">
        </div>
        <div class="group" [hidden]="true" >
            <label for="pass" class="label">Name</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group" [hidden]="true" >
              <label for="pass" class="label">Street</label>
              <input id="pass" type="password" class="input" data-type="password">
            </div>
            <div class="group" [hidden]="true" >
                <label for="pass" class="label">City</label>
                <input id="pass" type="password" class="input" data-type="password">
              </div>
              <div class="group" [hidden]="true" > 
                  <label for="pass" class="label">Country</label>
                  <input id="pass" type="password" class="input" data-type="password">
                </div>        
				<div class="group">
					<input type="submit" (click)="Login()" class="button" value="Sign In">
				</div>
				<div class="hr"></div>
			</div>
			<div class="for-pwd-htm">
				<div class="group">
					<label for="user" class="label">Username or Email</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<input type="submit" class="button" (click)="ForgotPass()" value="Reset Password">
				</div>
				<div class="hr"></div>
      </div>
		</div>
	</div>
</div>


  <!-- <mat-checkbox>Check me!</mat-checkbox> -->


 